.fs-18 {
  font-size: 18px;
  line-height: 21px;
}

.fs-24 {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.fs-28 {
  font-size: 28px;
  line-height: 33px;
}

.fs-70 {
  font-size: 70px;
  line-height: 104px;
  letter-spacing: -0.01em;
}
